body>.jumbotron {
	padding-left:2em;
	padding-right:2em;
}


.myhidden {
	display:none;
	/*visibility:hidden;*/
}

.imgspacer {
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
	margin-bottom:15px;
}
